@font-face {
    font-family: 'Starwars';
    src: url('/src/fonts/STARWARS.eot?#iefix') format('embedded-opentype'),
    url('/src/fonts/STARWARS.woff') format('woff'),
    url('/src/fonts/STARWARS.ttf') format('truetype'),
    url('/src/fonts/STARWARS.svg#svgFontName') format('svg');
}


#map button {
    font-family: Starwars, sans-serif;
    color: white;
    margin-top: 20px;
    width: 110px;
    height: 35px;
    background: rgb(27, 92, 105);
    border: 1px #1b5c69 solid;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
}

.text-area {
    padding: 20px;
    justify-self: center;
}


body {
    display: flex;
    flex-direction: column;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    margin: auto;
    height: 100vh;
    font-family: Arial, serif;
    color: white;
    letter-spacing: 1px;
}

.main {
    font-family: Starwars, Arial, sans-serif;
    color: white;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100%;
}

#border {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 700px;
    background: url("/src/background.png") center;
    border: 4px rgb(40, 139, 159) solid;
}

#map {
    text-align: center;
    position: relative;
    flex: 1;
}

#top-content {
    text-align: left;
    font-size: 25px;
    margin-left: 20px;
}

#bottom-content {
    text-align: left;
    font-size: 25px;
    margin-left: 20px;
}

#bottom-border, #top-border {
    height: 20px;
}

#ship {
    top: 80%;
    left: 50%;
    position: absolute;
}

#invader, #redLaser {
    position: absolute;
}

footer {
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
    background-color: rgba(95, 158, 160, 0.4);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(95, 158, 160, 0.4);
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

li button:hover {
    background-color: rgba(255, 234, 0, 0.4);
}

.active {
    background-color: rgba(218, 200, 85, 0.4);
}


.about, .score {
    padding: 20px;
    background-color: rgba(48, 78, 80, 0.5);
    font-family: Arial, sans-serif;
    color: white;
    display: grid;
    place-items: center;
}

.space {
    display: grid;
    place-items: center;
    height: 100vh;
}

#instructions {
    margin: 10px;
    text-align: center;
}

nav button {
    font-size: 15px;
    color: white;
    background: none;
    border: none;
    padding: 14px 16px;
}
